@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

html, body, #root { height: 100%; }

body {
  @apply bg-background text-foreground antialiased;
}
