---
import Base from '../layouts/Base.astro';
import Career5Whys from '../components/Career5Whys';
---
<Base title="Career 5 Whys">
  <div class="py-6">
    <Career5Whys client:load />
  </div>
</Base>
