---
import Base from '../layouts/Base.astro';
import ResumeGame from '../components/ResumeGame';
---
<Base title="Resume Game - Level Up Your Resume">
  <div class="py-6">
    <ResumeGame client:load />
  </div>
</Base>